@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 30 17% 90%;
    --foreground: 354 20% 25%;
    --card: 30 17% 92%;
    --card-foreground: 354 20% 25%;
    --popover: 30 17% 90%;
    --popover-foreground: 354 20% 25%;
    --primary: 354 39% 30%;
    --primary-foreground: 30 17% 96%;
    --secondary: 30 48% 54%;
    --secondary-foreground: 354 39% 20%;
    --muted: 30 17% 85%;
    --muted-foreground: 354 20% 40%;
    --accent: 30 17% 88%;
    --accent-foreground: 354 39% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 80%;
    --input: 30 10% 85%;
    --ring: 354 39% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 354 10% 15%;
    --foreground: 30 17% 85%;
    --card: 354 10% 18%;
    --card-foreground: 30 17% 85%;
    --popover: 354 10% 15%;
    --popover-foreground: 30 17% 85%;
    --primary: 354 39% 40%;
    --primary-foreground: 30 17% 96%;
    --secondary: 30 48% 54%;
    --secondary-foreground: 30 17% 98%;
    --muted: 354 10% 25%;
    --muted-foreground: 30 17% 75%;
    --accent: 354 10% 28%;
    --accent-foreground: 30 17% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 354 10% 30%;
    --input: 354 10% 30%;
    --ring: 354 39% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
